<div class="caro-container">
    <br>
    <ngb-carousel #carousel [interval]="3000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
        <ng-template ngbSlide *ngFor="let img of images; index as i;">
            <div class="carousel-caption">
                <p>{{titles[i]}}</p>
            </div>
            <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank">
                <div class="picsum-img-wrapper">
                    <img [src]="img">
                </div>
            </a>
        </ng-template>
    </ngb-carousel>
</div>