.container {
    margin-top: 3%;
    margin-left: 13%;
}

h1 {
    color: rgba(255, 255, 255, 0.89);
    width: 60%;
}

h5 {
    color: rgba(255, 255, 255, 0.87);
}

.twee {
    font-size: 30px;
}

.face {
    margin-left: 1%;
    font-size: 30px;
}