h1 {
    color: white;
    margin-left: 8%;
}

.container1 {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    height: 30%;
}

.card {
    border: none;
}

.carousel-caption {
    margin-bottom: -30%;
}

ngb-carousel {
    outline: none;
    padding-right: 5%;
    padding-left: 5%;
    width: 100%;
}

#popMov {
    color: white;
    font-size: 40px;
    margin-top: 2%;
    margin-left: 7.5%;
}

.popularMovies {
    width: 80%;
    margin-top: 3%;
}