<body>
<app-carousel></app-carousel><br>
<app-popular-movies></app-popular-movies><br>
<app-tr-movies></app-tr-movies><br>
<app-trending-movies></app-trending-movies><br>
<app-popular-tv></app-popular-tv><br>
<app-top-rated-tv-shows></app-top-rated-tv-shows><br>
<app-trending-tv-shows></app-trending-tv-shows><br><br>


<!-- <app-temp-caro></app-temp-caro><br>
<app-tr-movies></app-tr-movies><br>
<app-trending-movies></app-trending-movies><br>
<app-popular-tv></app-popular-tv><br>
<app-top-rated-tv-shows></app-top-rated-tv-shows><br>
<app-trending-tv-shows></app-trending-tv-shows><br><br> -->

<!-- <app-movie-tv-details></app-movie-tv-details><br>
<app-full-cast-crew></app-full-cast-crew><br>
<app-reviews></app-reviews><br>
<app-recommended-movies></app-recommended-movies><br>
<app-similar-movies></app-similar-movies><br> -->
</body>
