h2 {
    color: white;
    margin-left: 8%;
}

.top-rated-movies-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    height: 30%;
}

.card {
    border: 0.5px solid #000033;
}

.carousel-caption {
    margin-bottom: -30%;
    visibility: hidden;
    text-align: left;
}

.card:hover .carousel-caption {
    visibility: visible;

}

ngb-carousel {
    outline: none;
    padding-right: 5%;
    padding-left: 5%;
    width: 100%;
}