<!-- <h3>full-cast-crew works!</h3>
<br> -->


<h1 style="color: white;">Full Cast and Crew</h1>
<div class="crew">
    <div class="row flex-row flex-nowrap row-cols-md-6 cast">
        <div class="col-xs-3" *ngFor="let x of data; let i = index">
            <a [routerLink]='' (click)="fetchDetails(x['id'], castData)">
                <div class="card h-100 adjust">
                    <img [src]="x['poster_path']" class="card-img-top newImg" />
                    <div class="card-body">
                        <p class="charText1">{{x['name']}}</p>
                        <p class="midText">AS</p>
                        <p class="charText2">{{x['character']}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<ng-template #castData let-modal>
    <div class="modal-header">
        <h4 class="modal-title castName">{{cast['name']}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-4 castPicture">
                <img [src]="cast['profile_path']" />
            </div>
            <div class="col-8 castInfo">
                <p *ngIf="cast['dob']">Birth: {{cast['dob']}}</p>
                <p *ngIf="cast['pob']">Birth Place: {{cast['pob']}}</p>
                <p *ngIf="cast['gender']">Gender: {{cast['gender']}}</p>
                <p *ngIf="cast['website']">Website: <a href="{{cast['website']}}" target="blank">{{cast['website']}}</a></p>
                <p *ngIf="cast['known_for']">Known For: {{cast['known_for']}}</p>
                <p *ngIf="cast['knownas']" id="aka">Also Known As: {{cast['knownas']}}</p>
                <div class="social-media">
                    <a *ngIf="cast['external_ids']['imdb']" class="imdb" href="{{cast['external_ids']['imdb']}}" target="blank" placement="top" ngbPopover="Visit IMDB" popoverClass="my-custom-class-imdb"><i class="fa fa-imdb"></i></a>
                    <a *ngIf="cast['external_ids']['insta']" class="insta" href="{{cast['external_ids']['insta']}}" target="blank" placement="top" ngbPopover="Visit Instagram" popoverClass="my-custom-class-insta"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a *ngIf="cast['external_ids']['fb']" href="{{cast['external_ids']['fb']}}" target="blank"><i class="fa fa-facebook-square fbook" placement="top" ngbPopover="Visit Facebook" popoverClass="my-custom-class-fb"></i></a>
                    <a *ngIf="cast['external_ids']['twitter']" class="twitter-share-button" href="{{cast['external_ids']['twitter']}}" target="blank" placement="top" ngbPopover="Visit Twitter" popoverClass="my-custom-class-twit"><i class="fa fa-twitter twt"></i></a>
                </div>
            </div>
        </div>
        <div class="bio">
            <h2 *ngIf="cast['biography']" id="bText">Biography</h2>
            <div>
                <p>{{cast['biography']}}</p>
            </div>
        </div>
    </div>
</ng-template>