/* h3{
    color: white;
} */

h1 {
    color: white;
    margin-left: 10%;
}

.card {
    border: none !important;
    position: relative;
}

.cast {
    width: 76% !important;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    height: auto;
    padding-bottom: 1%;
}

.cast::-webkit-scrollbar {
    scrollbar-width: thin;
    height: 1vh;
}

.cast::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(82, 79, 79, 0.432) !important;
    border: 0.5px solid rgba(82, 79, 79, 0.671) !important;
}

.cast::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(78, 77, 77);
}

.crew {
    margin-top: 3%;
    margin-left: 20% !important;
}

#castHeading {
    color: white;
    font: 500 36px 'Lato', sans-serif !important;
    margin-left: 8% !important;
    margin-bottom: -2% !important;
}

.newImg {
    border-top-left-radius: .8rem !important;
    border-top-right-radius: .8rem !important;
}

.row>.col-xs-3 {
    display: flex;
    flex: 0 0 25%;
}

.flex-nowrap {
    -webkit-flex-wrap: nowrap!important;
    -ms-flex-wrap: nowrap!important;
    flex-wrap: nowrap!important;
}

.flex-row {
    display: flex;
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -webkit-flex-direction: row!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}

.adjust {
    width: 93% !important;
    border-radius: 1rem !important;
}

.card-body {
    padding-left: 1% !important;
    padding-right: 1% !important;
    padding-top: 2% !important;
}

.castName {
    font: 500 22px/10px 'Lato', sans-serif !important;
    vertical-align: middle !important;
    margin-top: 1% !important;
    margin-bottom: 0% !important;
}

.castPicture {
    flex: 0 0 30% !important;
    max-width: 30% !important;
    margin-left: -11%;
}

.castName {
    font: 500 22px/10px 'Lato', sans-serif !important;
    vertical-align: middle !important;
    margin-top: 1% !important;
    margin-bottom: 0% !important;
}

.castInfo {
    font: 500 15px/10px 'Roboto Condensed', sans-serif !important;
    flex: 0 0 81% !important;
    max-width: 81% !important;
    margin-top: 2%;
}

.imdb {
    font-size: 30px !important;
    color: #f3ce13;
}

.insta {
    font-size: 30px !important;
    margin-left: 1% !important;
    color: rgb(134, 38, 122)
}

.fbook {
    font-size: 30px !important;
    margin-left: 1% !important;
    color: blue;
    border-radius: none !important;
}

.twt {
    font-size: 30px !important;
    margin-left: 1% !important;
}

#aka {
    font: 500 15px/22px 'Roboto Condensed', sans-serif !important;
    flex: 0 0 81% !important;
    margin-top: -1%;
}

#bText {
    font: 600 25px/10px 'Poppins', sans-serif !important;
    margin-top: 5% !important;
}

.bio {
    text-align: justify;
    font: 300 13px/20px 'Noto Sans JP', sans-serif !important;
}

::ng-deep .my-custom-class-imdb {
    text-align: center;
    width: 20%;
}

::ng-deep .my-custom-class-insta {
    text-align: center;
    width: 22%;
}

::ng-deep .my-custom-class-fb {
    text-align: center;
    width: 22%;
}

::ng-deep .my-custom-class-twit {
    text-align: center;
    width: 20%;
    margin-top: 10%;
}