<!-- <p>search-option works!</p> -->

<!-- <fieldset class="form-inline">
    <div class="form-group">
        <input id="typeahead-http" type="text" class="form-control mx-sm-3" placeholder="Search" />
    </div>
</fieldset>
<hr> -->

<ng-template #rt let-r="result" let-t="term">
    <img [src]="r.poster_path" class="mr-1" style="width: 80px" [routerLink]="['watch/r.media_type/r.id']">
    <ngb-highlight [result]="r.title" [term]="searchTermModel"></ngb-highlight>
</ng-template>
<div class="form-group">
    <input id="typeahead-http" #input (selectItem)="onSelect($event, input)" type="text" class="form-control" placeholder="search" [ngbTypeahead]="search" [resultTemplate]="rt" />
</div>
